<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
		<security>
            <authentication>
                <anonymousAuthentication userName="" />
            </authentication>
        </security>
        <rewrite>
            
        </rewrite>
    </system.webServer>
</configuration>
